{% extends "layouts/base.html" %}
{% load static %}

{% block title %}
    {{movie.title|title}}
{% endblock title %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/movies/movie.css' %}" />
{% endblock links %}

{% block content %}
    <section class="container mt-2">
        <div class="row">
            <div class="col-md-12 p-2">
                <a class="btn bg-primary text-white" href="{% url "movie_list" %}">Volver</a>
            </div>
            <div class="col-md-6 p-1 d-flex align-items-center justify-content-center sizing-container-screen">
                <img
                    src="{{movie.poster.url}}"
                    alt="{{movie.title}}"
                    class="img-fluid rounded w-75 h-100"
                />
            </div>
            <div class="col-md-6 text-center">
                <h1>{{movie.title|title}}</h1>
                <p>{{movie.overview}}</p>
                <div>
                    Categoria:
                    <p>{{movie.category}}</p>
                </div>
                {% comment %}
                    implementar comentarios Bayron
                {% endcomment %}
            </div>
        </div>
    </section>
{% endblock content %}