{% extends "layouts/base.html" %}
{% load static %}
{% block title %}
    Movies
{% endblock title %}
{% block links %}
    <link rel="stylesheet" href="{% static "/css/movies/list.css" %}">
{% endblock links %}

{% block content %}
    <section class="container">
        <h1 class="text-center">Movies</h1>
        <div class="d-grid gap-3">
            {% for movie in movies %}
                <a class="text-center text-decoration-none w-25 p-2 text-dark" href="{% url "get_movie" movie.id %}">
                    <img src="{{ movie.poster.url }}"
                    alt="{{ movie.title }}" width="200" height="250" class="img-fluid shadow hover-large-image mb-1 rounded"/>
                    <h4>{{ movie.title }}</h4>
                </a>
                <div>
                    {%comment%}
                        Implementar likes: Jhondeivi
                    {%endcomment%}
                </div>
            {% empty %}
                <div class="text-center m-2 fs-1 d-flex flex-column">
                    No se encontraron peliculas.
                    <div>
                        {%comment%}
                            Implementar creación de peliculas
                        {%endcomment%}
                        <a href="#" class="btn btn-primary">Crea una nueva pelicula</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock content %}