{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock title %} | Movies App
    </title>
    <link rel="stylesheet" href="{% static "css/bootstrap/bootstrap.min.css"%}">
    {% block links %}{% endblock links %}
</head>
<body>
    <header>
        {% block navbar %}{% endblock navbar %}
    </header>
    <main>
        {% block content %}{% endblock content %}
    </main>
    <footer>
        {% block footer %}{% endblock footer %}
    </footer>

    <script src="{% static "js/bootstrap/bootstrap.esm.min.js"%}"></script>
    <script src="{% static "js/bootstrap/bootstrap.bundle.min.js"%}"></script>
</body>
</html>